name: My starter workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  call-reusable-workflow:
    strategy:
      matrix:
        nodeversion: ['14', '16', '18', '20']
    uses: ./.github/workflows/reusable-workflow.yml
    with:
      node: ${{ matrix.nodeversion }}
      
